.partnerTexts h2 {
  font-family: 'Prata';
}

.partnerTexts p {
  font-family: 'Helvetica';
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.occassions {
  margin: 0px;
  margin-top: 50px;
  /*padding: 40px;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.occassion {
  margin: 0 10px;
  width: 25%;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.occassionTitle {
  margin: 0 0;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 1vw;
  color: rgba(0,0,0,0.9);
}

.occassionImage {
  margin-bottom: 20px;
  width: 100%;
}

.occassionPar {
  letter-spacing: 0.1em;
  font-size: 1vw;
  color: rgba(0,0,0,0.9);
  text-align: center;
}

@media (min-width: 901px) {  
  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
  }

  .App-link {
    color: #09d3ac;
  }

  .howItWorksGrid {
    /*max-height: 200px;*/
    /*padding: 10px;*/
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .partnerTexts {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 40px;
    align-items: center;
    justify-content: center;
  }

  .partnerText {
    width: 60%;
    margin: 0 10px;
    text-align: left;
  }

  .partnerPar {
    justify-content: flex-start;
    /*width: 50%;*/
    margin: 0 10px;
    /*align-content: center;*/
    /*align-items: center;*/
  }

  .changeLang {
    align-items: center;
    border: 2px solid rgba(70,70,70,1);
    transition: 0.3s;
    cursor: pointer;
    font-size: 1vw;
    min-width: 125px;
    text-align: center;
    letter-spacing: 0.07em;
    font-weight: 400;
    margin: 20px 0 10px 0;
    padding: 10px;
    width: 25%;
  }

  .changeLang:hover {
    background-color: rgba(70,70,70,1);
    color: white;
    font-weight: 400;
    border: 2px solid white;
  }

  .howItWorkTitle {
    margin: 0 0;
    letter-spacing: 0.2em;
    font-weight: 600;
    font-size: 1vw;
  }

  .howItWorkPar {
    letter-spacing: 0.1em;
    font-size: 1vw;
  }

  .howItWorkImage {
    max-width: 100px;
    max-height: 100px;
  }

  .secondGrid {
    margin:50px 0 0 0;
    padding: 0px;
    display: flex;
    justify-content: center;
  }

  .secondGridImage {
    object-fit: contain;
    margin: 10px 0 0 0;
    width: 50%;
  }

  .ocassionsGrid {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .thirdGridImage {
    margin: 0px 7.5px;
    max-height: 480px;
    max-width: 960px;
    width: 100%;
  }

  .bookNow {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid rgb(50,50,50);
    position: absolute;
    left: 40%;
    width: 20%;
    letter-spacing: 0.1em;
  }

  .bookNow:hover {
    color: white;
    background-color: rgb(50,50,50);
  }

  .quotation1 {
    margin: 0 10px 0 0;
    font-size: 150px;
    font-style: italic;
    font-family: 'prata';
    font-weight: 800;
    letter-spacing: 0.025em;
  }
  
  .quotes {
    margin-bottom: 0;
    font-size: 50px;
    max-width: 50%;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 0.025em;
  }

  .quotation2 {
    margin: 450px 0 0 -50px;
    font-size: 150px;
    font-style: italic;
    font-family: 'prata';
    font-weight: 800;
    letter-spacing: 0.025em;
  }

  .occassions {
    width: 100%;
    align-content: space-around;
    justify-content: space-around;
    margin: 50px 0;
  }

  .occassion {
    width: 18%;
    margin: 0;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .App {
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .howItWorksGrid {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
  }

  .howItWorks {
    margin: 0px;
    padding: 40px;
    align-content: center;
    justify-content: center;
  }
  
  .partnerTexts {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 40px;
    align-items: center;
    justify-content: center;
  }

  .partnerText {
    width: 110%;
    margin: 0 0;
    text-align: left;
  }

  .partnerPar {
    justify-content: flex-start;
    /*width: 50%;*/
    margin: 0 10px;
    /*align-content: center;*/
    /*align-items: center;*/
  }

  .changeLang {
    align-items: center;
    border: 2px solid rgba(70,70,70,1);
    transition: 0.3s;
    cursor: pointer;
    font-size: 12px;
    min-width: 125px;
    text-align: center;
    letter-spacing: 0.07em;
    font-weight: 400;
    margin: 20px 0 10px 0;
    padding: 10px;
    width: 50%;
    max-width: 200px;
  }

  .changeLang:hover {
    background-color: rgba(70,70,70,1);
    color: white;
    font-weight: 400;
    border: 2px solid white;
  }

  .secondGrid {
    padding: 10px;
    display: flex;
    justify-content: center;
    /*max-width: 100%;*/
    /*display: grid;*/
    margin: 40px 0 0 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
  }

  .secondGridImage {
    width: 100%;
  }

  .ocassionsGrid {
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 2,
  }

  .thirdGridImage {
    margin: 10px 0;
    width: 45%;
  }

  .quotation1 {
    margin: 100px 0 0 0;
    padding: 0;
    font-size: 150px;
    font-style: italic;
    font-family: 'prata';
    font-weight: 800;
    letter-spacing: 0.025em;
  }
  
  .quotes {
    align-content: center;
    text-align: center;
    margin: -100px;
    font-size: 10vw;
    max-width: 70%;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 0.025em;
  }

  .quotation2 {
    margin: 100px 0 -100px 0;
    font-size: 150px;
    font-style: italic;
    font-family: 'prata';
    font-weight: 800;
    letter-spacing: 0.025em;
  }

  .occassions {
    width: 100%;
    align-content: space-around;
    justify-content: space-around;
  }

  .occassion {
    width: 40%;
    margin: 20px 0 20px 0;
  }

  .occassionTitle {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
  }

  .occassionImage {
    margin-bottom: 20px;
    width: 50%;
  }

  .occassionPar {
    font-size: 12px;
    text-align: center;
  }

  .footer {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
    height: 50%;
  }
}