@media (min-width: 901px) {  
  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
  }

  .App-link {
    color: #09d3ac;
  }

  .howItWorksGrid {
    /*max-height: 200px;*/
    /*padding: 10px;*/
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .howItWorks {
    margin: 0px;
    padding: 40px;
  }

  .howItWork {
    width: 25%;
    margin: 0 10px;
  }

  .howItWorkTitle {
    margin: 0 0;
    letter-spacing: 0.2em;
    font-weight: 600;
    font-size: 1vw;
  }

  .howItWorkPar {
    letter-spacing: 0.1em;
    font-size: 1vw;
  }

  .howItWorkImage {
    max-width: 100px;
    max-height: 100px;
  }

  .secondGrid {
    margin:50px 0 0 0;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .secondGridImage {
    object-fit: contain;
    margin: 10px 0 0 0;
    width: 50%;
  }

  .ocassionsGrid {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .thirdGridImage {
    margin: 0px 7.5px;
    max-height: 480px;
    max-width: 960px;
    width: 100%;
  }

  .bookNow {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid rgb(50,50,50);
    position: absolute;
    left: 40%;
    width: 20%;
    letter-spacing: 0.1em;
  }

  .bookNow:hover {
    color: white;
    background-color: rgb(50,50,50);
  }

  .quotation1 {
    margin: 0 10px 0 0;
    font-size: 150px;
    font-style: italic;
    font-family: 'prata';
    font-weight: 800;
    letter-spacing: 0.025em;
  }
  
  .quotes {
    font-size: 50px;
    max-width: 50%;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 0.025em;
  }

  .quotation2 {
    margin: 200px 0 0 -50px;
    font-size: 150px;
    font-style: italic;
    font-family: 'prata';
    font-weight: 800;
    letter-spacing: 0.025em;
  }
}

@media (max-width: 900px) {
  .App {
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .howItWorksGrid {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
  }

  .howItWorks {
    margin: 0px;
    padding: 40px;
    align-content: center;
    justify-content: center;
  }
  
  .howItWork {
    margin: 0px;
    padding: 40px;
    width: 90%;
  }

  .howItWorkTitle {
    margin: 0;
    letter-spacing: 0.2em;
    font-weight: 600;
    font-size: 6vw;
  }

  .howItWorkPar {
    letter-spacing: 0.1em;
    font-size: 5vw;
  }

  .secondGrid {
    padding: 10px;
    display: flex;
    justify-content: center;
    /*max-width: 100%;*/
    /*display: grid;*/
    margin: 40px 0 0 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
  }

  .secondGridImage {
    width: 100%;
  }

  .ocassionsGrid {
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 2,
  }

  .thirdGridImage {
    margin: 10px 0;
    width: 45%;
  }

  .footer {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
    height: 50%;
  }

  .bookNow {
    margin-bottom: 0px;
    padding: 20px;
    border: 1px solid rgb(50,50,50);
    width: 20%;
    letter-spacing: 0.1em;
    min-width: 160px;
  }

  .bookNow:hover {
    color: white;
    background-color: rgb(50,50,50);
  }

  .quotation1 {
    margin: 100px 0 0 0;
    padding: 0;
    font-size: 150px;
    font-style: italic;
    font-family: 'prata';
    font-weight: 800;
    letter-spacing: 0.025em;
  }
  
  .quotes {
    align-content: center;
    text-align: center;
    margin: -100px;
    font-size: 10vw;
    max-width: 70%;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 0.025em;
  }

  .quotation2 {
    margin: 100px 0 -100px 0;
    font-size: 150px;
    font-style: italic;
    font-family: 'prata';
    font-weight: 800;
    letter-spacing: 0.025em;
  }
}