.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.advantagesGrid {
  /*max-height: 200px;*/
  /*padding: 10px;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.advantages {
  margin: 0px;
  padding: 40px;
}

.advantage {
  width: 25%;
  margin: 0 10px;
}

.advantageTitle {
  margin: 0 0;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 1vw;
}

.advantageImage {
  max-height: 120px;
  max-width: 120px;
}

.advantagePar {
  letter-spacing: 0.1em;
  font-size: 1vw;
}

.secondGrid {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.secondGridImage {
  object-fit: contain;
  margin: 10px 0 0 0;
  width: 50%;
}

.ocassionsGrid {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}

.thirdGridImage {
  margin: 0px 7.5px;
  max-height: 480px;
  max-width: 960px;
  width: 100%;
}

@media (max-width: 900px) {
  .advantagesGrid {
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
  }
  
  .advantage {
    width: 90%;
  }

  .advantageTitle {
    font-size:6vw;
  }

  .advantagePar {
    letter-spacing: 0.1em;
    font-size: 5vw;
  }

  .secondGrid {
    /*max-width: 100%;*/
    /*display: grid;*/
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
  }

  .secondGridImage {
    width: 100%;
  }

  .ocassionsGrid {
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 2,
  }

  .thirdGridImage {
    margin: 10px 0;
    width: 45%;
  }

  .footer {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
    height: 50%;
  }
}