@media (min-width: 841px) {
	.carousel {
	  position: relative;
	  align-content: center;
	  overflow-x: hidden;
	}

	.carouselImage {
		height: 100%;
		margin-top: -150px;
	  position: relative;
	  width: 100%;
	  left: 100%;
	  margin-left: -200%;
	  filter: brightness(60%);

		/* -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	  /* 	-moz-animation: fadein 2s; /* Firefox < 16 */
	  /* 	 -ms-animation: fadein 2s; /* Internet Explorer */
	  /* 	  -o-animation: fadein 2s; /* Opera < 12.1 */
	  /* 	     animation: fadein 2s; */
	}

	.carouselText {
		width: 70%;
		position: absolute;
	  top: 55%;
	  left: 50%;
	  transform: translate(-50%, -50%);
		background: transparent;
		color: rgba(215,215,215,1);

		/* -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	  /* 	-moz-animation: fadein 2s; /* Firefox < 16 */
	  /* 	 -ms-animation: fadein 2s; /* Internet Explorer */
	  /* 	  -o-animation: fadein 2s; /* Opera < 12.1 */
	  /* 	     animation: fadein 2s; */
	}

	.carouselText h3 {
		font-size: 1.5vw;
	}

	.carouselText h1 {
		font-size: 4vw;
	}

	.circle, .circleShow {
		margin: 5px;
	  height: 10px;
	  display: inline-block;
	  transition: width 0.4s ease-in-out;
	}

	.circle {
	  background-color: rgba(215,215,215,0.75);
	  width: 25px;
	  /*border-radius: 50%;*/
	  cursor: pointer;
	}

	.circleShow {
	  background-color: rgba(215,215,215,1);
	  width: 50px;
	  /*border-radius: 50px;*/
	}
}

@media (max-width: 840px) {
	.carousel {  
		width: 100%;
  	margin: 0 auto;
	  overflow: hidden;	
  	position: relative;
	  height: 900px;
	}

	.carouselImage {
		height: 100%;
	  left: 50%;
	  margin-left: -850px;
	  position: relative;
	  filter: brightness(60%);
	}

	.carouselText {
		width: 80%;
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
		background: transparent;
		color: rgba(215,215,215,1);
	}

	.carouselText h1 {
		font-size: 9vw;
	}

	.circle, .circleShow {
		margin: 5px;
	  height: 5px;
	  display: inline-block;
	  transition: width 0.4s ease-in-out;
	}

	.circle {
	  background-color: rgba(215,215,215,0.75);
	  width: 15px;
	  /*border-radius: 50%;*/
	  cursor: pointer;
	}

	.circleShow {
	  background-color: rgba(215,215,215,1);
	  width: 40px;
	  /*border-radius: 50px;*/
	}
}

/*@media (max-width: 768px) {
  .carousel {
    height: 100%;
    position: relative;
    left: 100%;
    margin-left: -200%;
    height: 100%;
  }

  .carouselImage {
    object-fit: cover;
    height: 100%;
  }
}*/