*::selection {
  color: inherit;
}

.navPoint:link, .navPoint:visited {
  text-align: center;
  color: white;
  text-decoration: none; 
  cursor: pointer;
  margin: 10px;
  padding: 15px;
  transition: color 0.5s ease;
  letter-spacing: 0.2em;
  /*border-radius: 10px;*/
}

.dropdownButton {
  text-align: center;
  color: white;
  text-decoration: none; 
  cursor: pointer;
  margin: 0px;
  padding: 15px;
  transition: color 0.5s ease;
  letter-spacing: 0.2em;
  /*border-radius: 10px;*/
}

.dropdownContent a {
  display: block;
  margin: 10px;
  padding: 15px;
  transition: color 0.5s ease;
  letter-spacing: 0.2em;
}

.navPoint:link:active, .navPoint:visited:active {
  color: white;
}

.navPoint:hover{
  color: darken($black, 50%);
  transition: color 0.5s ease;
  background-color: rgba(0,0,0,0.1);
}

.dropdownButton:hover {
  border-radius: 50%;
  border: 2px solid rgba(100,100,100,0.5);
  transition: color 0.5s ease;
}

.appHeaderSticky {
  background-color: #000;
  padding: 25px 50px;
  max-height: 165px;
  /*height: 165px;*/
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /*align-content: center;*/ 
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); 
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.appHeader {
  padding: 25px 50px;
  max-height: 165px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: transparent;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.headerLogo {
  /*margin: 10px 10px 0 0;*/
  padding: 10px 0 0 0;
  max-width: 290px;
  max-height: 75px;
  /*border: 1px solid grey;*/
}

.nav {
  display: flex;
  width: 65%;
  /*grid-template-columns: repeat(4,auto);*/
  align-items: center;
  justify-content: center;
}

.search {
  align-items: center;
  width: 50%;
  /*margin: 0 10px 0 0;*/
}

.searchBar, .searchBarBlackPlaceholder {
  width: 75%;
  height: 100%;
  color: rgb(90,90,90);
  font-size: 12px;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(175,175,175);
  padding: 5px 10px;
  letter-spacing: 0em;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.searchBar::placeholder {
  letter-spacing: 0.2em;
  color: white;
}

.searchBarBlackPlaceholder::placeholder {
  letter-spacing: 0.2em;
  color: rgb(90,90,90);
}

input.searchBar:focus {
  color: white;
  transition: width 0.4s ease-in-out;
  width: 80%;
  letter-spacing: 0.05em;
  border-bottom: 2px solid rgba(255,255,255,1);
}

input.searchBar::placeholder:focus {
  letter-spacing: 0.2em;
}

input.searchBarBlackPlaceholder:focus {
  transition: width 0.4s ease-in-out;
  width: 80%;
  letter-spacing: 0.05em;
  border-bottom: 2px solid rgb(90,90,90,1);
}

input.searchBarBlackPlaceholder::placeholder:focus {
  letter-spacing: 0.2em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  margin-top: 10px;
  transition: .5s;
  right: 0;
}

.dropdownContent a:hover {
  color: darken($black, 50%);
  transition: color 0.5s ease;
  background-color: rgba(0,0,0,0.1);}

.dropdown:hover .dropdownContent {
  display: block;
  justify-content: flex-end;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

@media (max-width: 1200px) {
  .appHeader, .appHeaderSticky {
    grid-template-areas: repeat(2, auto);;
    grid-template-rows: none;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav {
    grid-template-areas: repeat(4, auto);
    grid-template-rows: none;
    grid-row-gap: 0px;
  }

  .search {
    display: none;
  }
}

@media (max-width: 980px) {
  .appHeader, .appHeaderSticky {
    grid-template-areas: repeat(2, auto);;
    grid-template-column: none;
    justify-content: center;
    grid-column-gap: 10px;
    padding: 20px 0 0 0;
    margin: 0;
  }
  
  .headerLogo {
    padding: 10px 0 0 0;
    max-width: 290px;
    max-height: 50px;
  }

  .nav {
    display: flex; 
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
  }

  .navPoint:active .navPoint:visited {
    text-align: center;
    font-size: 1vw;
    flex-grow:1;
    width: 20%;
    padding: 0px;
    margin: 0px;
  }

  .search {
    display: none;
  }
}

@media (max-width: 570px) {
  .navPoint:active, .navPoint:visited {
    font-size: 0.2vh;
    flex-grow:1;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .nav {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
  }
}