
@media (min-width: 769px) {
	.carousel {
	  position: relative;
	  align-content: center;
	  overflow-x: hidden;
	}

	.carouselImage {
	  position: relative;
	  width: 100%;
	  left: 100%;
	  margin-left: -200%;
	}

	.carouselText {
		width: 70%;
		position: absolute;
	  top: 55%;
	  left: 50%;
	  transform: translate(-50%, -50%);
		background: transparent;
		color: rgba(215,215,215,1);
	}

	.carouselText h3 {
		font-size: 1.5vw;
	}

	.carouselText h1 {
		font-size: 4vw;
	}
}

@media (max-width: 768px) {
	.carousel {  
		width: 100%;
  	margin: 0 auto;
	  overflow: hidden;	
  	position: relative;
	  height: 1080px;
	}

	.carouselImage {
	  left: 50%;
	  margin-left: -850px;
	  position: relative;
	}

	.carouselText {
		width: 80%;
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
		background: transparent;
		color: rgba(215,215,215,1);
	}

	.carouselText h1 {
		font-size: 9vw;
	}
}

/*@media (max-width: 768px) {
  .carousel {
    height: 100%;
    position: relative;
    left: 100%;
    margin-left: -200%;
    height: 100%;
  }

  .carouselImage {
    object-fit: cover;
    height: 100%;
  }
}*/