.navPoint:link, .navPoint:visited {
  text-align: center;
  color: white;
  text-decoration: none; 
  cursor: pointer;
  margin: 10px;
  padding: 15px;
  transition: color 0.5s ease;
  letter-spacing: 0.2em;
  /*border-radius: 10px;*/
}

.navPoint:link:active, .navPoint:visited:active {
  color: white;
}

.navPoint:hover {
  color: darken($black, 50%);
  transition: color 0.5s ease;
  background-color: rgba(0,0,0,0.1);
}

.appHeader {
  background-color: #000;
  padding: 25px 50px;
  max-height: 165px;
  /*height: 165px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /*align-content: center;*/ 
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  background-color: transparent;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.headerLogo {
  /*margin: 10px 10px 0 0;*/
  padding: 10px 0 0 0;
  max-width: 435px;
  max-height: 75px;
  /*border: 1px solid grey;*/
}

.nav {
  display: grid;
  grid-template-columns: repeat(4,auto);
  align-items: center;
  justify-content: center;
}

.search {
  align-items: center;
  width: 20%;
  /*margin: 0 10px 0 0;*/
}

.searchBar {
  width: 75%;
  height: 100%;
  color: white;
  font-size: 12px;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(175,175,175);
  padding: 5px 10px;
  letter-spacing: 0em;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.searchBar::placeholder {
  letter-spacing: 0.2em;
}

input.searchBar:focus {
  transition: width 0.4s ease-in-out;
  width: 80%;
  letter-spacing: 0.05em;
  border-bottom: 2px solid rgba(255,255,255,1);
}

input.searchBar::placeholder:focus {
  letter-spacing: 0.2em;
}

@media (max-width: 1200px) {
  .appHeader {
    grid-template-areas: repeat(2, auto);;
    grid-template-rows: none;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav {
    grid-template-areas: repeat(4, auto);
    grid-template-rows: none;
    grid-row-gap: 0px;
  }

  .search {
    display: none;
  }
}

@media (max-width: 960px) {
  .appHeader {
    grid-template-areas: repeat(2, auto);;
    grid-template-column: none;
    justify-content: center;
    grid-column-gap: 10px;
    padding: 20px 0 0 0;
    margin: 0;
  }
  
  .headerLogo {
    padding: 10px 0 0 0;
    max-width: 290px;
    max-height: 50px;
  }

  .nav {
    display: flex; 
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
  }

  .navPoint:active .navPoint:visited {
    text-align: center;
    font-size: 1vw;
    flex-grow:1;
    width: 20%;
    padding: 0px;
    margin: 0px;
  }

  .search {
    display: none;
  }
}

@media (max-width: 560px) {
  .navPoint:active .navPoint:visited {
    font-size: 0.2vh;
    width: 50%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .nav {
    display: grid; 
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
  }
}