.CustomizeContainer {
  display: flex;
  flex-direction: row;
}

.FilterBar {
  margin: 0 0 0 75px;
  width: 30%;
}

.FabricsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.FabricList {
  padding: 10px;
  /*margin: 5px;*/
  width: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.FabricList:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.FabricImage {
  top: 43%;
  max-width: 100%;
  height: auto; 
  /*position: absolute;*/
  left: 39%;
  overflow: hidden;
}

.LivePreview {
  margin: 0 0 0 150px;
  width: 50%;
}

.PreviewImage {
  width: 37%;
  position: absolute;
}